<h1>Data Science Tools and Ecosystem<h1>

In this notebook,Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>Understand the data science tools and ecosystem.</li>
    <li>Identify popular languages used in data science.</li>
    <li>Explore commonly used libraries in data science.</li>
    <li>Familiarize yourself with open-source data science tools.</li>
    <li>Perform arithmetic operations using Python.</li>
</ul>

Some of the popular languages that Data Scientists use are:
<dd>1.Python</dd>
<dd>2.R</dd>
<dd>3.SQL(Structured Query Language)</dd>

Some of the commonly used libraries used by Data Scientists include:
<dd>1.Pandas</dd>
<dd>2.NumPy </dd>
<dd>3.SciPy</dd>
<dd>4.Matplotlib</dd>
<dd>5.ggplot</dd>
<dd>6.dplyr</dd>
<dd>7.caret</dd>

|Data Science Tools|
|------------------|
|MySQL and PostgreSQL|
|MongoDB|
|Hadoop File System|

<h3>Below are a few examples of evaluating arithmetic expressions in Python.<h3>

In [2]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
min=200/60
print(min)

3.3333333333333335

<h2>Author</h2>
Santosh Shukla